{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@client": "./src/client/",
        "@server": "./src/server/",
        "@common": "./src/common/",
        "@components": "./src/client/components",
        "@hoc": "./src/common/hoc",
        "@antd": "./src/common/antdStyles",
        "@webpack": "./webpack.config.babel.js",
        "@serverRender": "./dist/server.js"
      }
    }]
  ]
}