$color: orange;
$hover: black;

.link {
  display: inline-block;
  color: $color;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  color: $hover;
}

.container {
  height: 40px;
  padding-top: 9px;
  box-sizing: border-box;
  border: 1px solid green;
}